#container_stats{
	width:100%;
	height:100%;
	background:#000000;
	display:none;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#stats{
	background:#000000;	
	opacity:0.99;
	filter:alpha(opacity=99); /* For IE8 and earlier */
	position:absolute;
	top:10%;
	left:10%;
	padding:2em;
	border-radius: 2em;
	text-align:center;
	width:80%;
}

#loading{
	position:relative;
	top:50%;
	text-align:center;
	clear:both;
}

#background_chart{
	background:#FFFFFF;
}

#types{
	background:#505050;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding:0.6em;
	filter:alpha(opacity=50); /* For IE8 and earlier */	
}

#types a{
	text-decoration:none;
	color:#FFFFFF;
	font-size:1.2em;	
}

#close{
	float:right;
	color:#FFFFFF;
	margin-right:1em;
}