#link{
	text-decoration:none;
	color:#000000;
	font-size:1.3em;
}

#logo_container{
	margin-left:2em;
	float:center;
}

#logo{
	width:12em;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
