#link{
	text-decoration:none;
	color:#000000;
	font-size:1.3em;
}

#logo_container{
        margin-right:1em;
        position:absolute;
        bottom:1em;
        right:0;
}

#logo{
	width:8em;
	opacity:0.5;
	z-index:1;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
